<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sweyn</title>
    <script src="/app.js" type="module"></script>
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/jpg" href="/bean.jpg" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/another">Another</a>
      <a href="/about">About</a>
      <a href="/not/found">404</a>
      <a href="/admin">Admin</a>
    </nav>

    <main><< slot >></main>
  </body>
</html>
